name: main

on:
  push:

jobs:
  lint:
    name: Check - Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Use NodeJS
        uses: actions/setup-node@v6
      - name: Install packages
        run: npm ci --no-fund --ignore-scripts
      - name: Run ESLint
        run: npx eslint --ext .ts,.js .

  build:
    name: Transpile TypeScript
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Use NodeJS
        uses: actions/setup-node@v6
      - name: Install packages
        run: npm ci --no-fund --ignore-scripts
      - name: Run ESLint
        run: npx tsc
      - name: Upload artifacts
        uses: actions/upload-artifact@v6
        with:
          name: dist
          path: |
            dist
            !dist/test

  test:
    name: Coverage with Node ${{ matrix.node }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        node: ["22", "24"]
    steps:
      - uses: actions/checkout@v6
      - name: Use NodeJS
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node }}
      - name: Install packages
        run: npm ci --no-fund --ignore-scripts
      - name: Collect Coverage
        run: npx jest --coverage

  release:
    name: Semantic Release
    if: github.event_name == 'push' && (github.ref == 'refs/heads/main' || github.ref == 'refs/heads/beta')
    permissions:
      contents: write # to be able to publish a GitHub release
      issues: write # to be able to comment on released issues
      pull-requests: write # to be able to comment on released pull requests
      id-token: write # to enable use of OIDC for trusted publishing and npm provenance
    runs-on: ubuntu-latest
    needs:
      - lint
      - build
      - test
    steps:
      - uses: actions/checkout@v6
      - name: Use NodeJS
        uses: actions/setup-node@v6
        with:
          node-version: 24
      - name: Install packages
        run: npm ci --no-fund --ignore-scripts
      - name: Verify the integrity of provenance attestations and registry signatures for installed dependencies
        run: npm audit signatures
      - name: Download dist from build
        uses: actions/download-artifact@v7
        with:
          name: dist
          path: dist/
      - name: Semantic Release
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
         # NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: npx semantic-release
